.backButton{
    display: block;
    width: 200px;
    height: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: white;
    background-color: #333333;
    margin: 50px auto;
    font-size: 20px;
    line-height: 40px;
    border: none;
}
.specificBook{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.column{
    width: 600px;
    margin: 0 30px;
}
.image{
    display: block;
    width: 60%;
    margin: 0 auto;
}
.span{
    color: cornflowerblue;
}
.name{
    text-align: center;
    color: cornflowerblue;
}

@media screen and (max-width: 800px){
    .column{
        width: 90%;
        margin: 0 auto;
    }
}
