.error{
    padding: 50px 0;
}
.link{
    display: block;
    width: 200px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    background-color: #333333;
    color: white;
    box-shadow: 3px 3px 3px #dddddd, -3px -3px 3px #dddddd;

}
.text{
    text-align: center;
    color: tomato;
    font-size: 30px;
    padding-top: 50px;
}
