.header{
    background-color: #333333;
    display: flex;
    padding: 0 20px;
    color: white;
    text-decoration: none;
}
.logoWrapper{
    width: 50px;
    padding-top: 15px;
}
.logo{
    display: block;
    width: 100%;

}
.title{

}
