.header{
    background-color: #333333;
    display: flex;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}
.logoWrapper{
    width: 50px;
    padding-top: 15px;
    margin-right: 10px;
}
.logo{
    display: block;
    width: 100%;

}

@media screen  and (max-width: 500px){
    .title{
        font-size: 20px;
    }
    .logoWrapper{
        width: 40px
    }
}
