.books{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.totalBooks{
    text-align: center;
    background-color: #333333;
    color: white;
    margin: 0;
    padding: 10px 0;
}
.book{
    width: 400px;
    box-shadow: 3px 3px 3px #dddddd, -3px -3px 3px #dddddd;
    margin: 30px;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.link{
    text-decoration: none;
    color: #333333;
}
.error{
    padding: 50px 0;
    text-align: center;
    font-size: 30px;
    color: tomato;
}
.loadMore{
    display: block;
    margin: 50px auto;
    width: 200px;
    height: 40px;
    color: white;
    background-color: #333333;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
}
.loadMore:disabled{
    background-color: tomato;
}
